/*
Theme Name: Apex
Theme URI: https://www.competethemes.com/apex/
Author: Compete Themes
Author URI: https://www.competethemes.com/
Description: Apex is a sophisticated, minimalist theme. It looks great and performs wonderfully on mobile devices, tablets, laptops, and everything in between. Use it to setup a business blog, newspaper website, fashion magazine, or travel blog. Now with WooCommerce support, you can even setup an eCommerce store with Apex. The design of this minimal theme also suits media-rich sites well like food blogs and personal photography portfolios. As a simple, responsive, and SEO optimized theme, you can trust Apex to present your best content to the world. Apex is also fully compatible with the new Gutenberg post editor. Preview Apex now with the interactive live demo: https://www.competethemes.com/demos/?theme=apex
Version: 1.33
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, right-sidebar, accessibility-ready, custom-logo, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, education, news
Text Domain: apex

Apex WordPress Theme, Copyright 2019 Compete Themes
Apex is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1 {
  font-size: 2.3125em;
  /* 37px / 16px */
  line-height: 1.297;
  /* 48px */
}

h2, .site-title {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.321;
  /* 37px */
}

h3, .comments-number h2, .post-title {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

.wp-caption-text, input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea, input[type="submit"], .comment-respond label, #cancel-comment-reply-link, .comment-footer a,
.comment-footer span, .site-footer .design-credit span, .tagline, .more-link, .comments-link, .sticky-status, .post-byline, .post-tags a, .further-reading span, .widget > *, .singular-attachment .attachment-caption, .woocommerce-account .woocommerce-MyAccount-navigation li a {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background: white;
  color: #6B6B6B;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.main {
  margin: 0 auto;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 1.5em 0;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
          transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}
a:link, a:visited {
  color: #333333;
}
a:hover, a:active, a:focus {
  color: #6B6B6B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h4, h5, h6 {
  font-size: 1em;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #F2F2F2;
  padding: 0.75em;
  border: solid 1px #E8E8E8;
}

code {
  background: #F2F2F2;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #333333;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 1.5em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.5em;
}

/* Form styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
  max-width: 27.75em;
  border: solid 1px #E8E8E8;
  background: #F2F2F2;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
  outline: none;
  background: white;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  font-family: "Open Sans", sans-serif;
  padding: 10px 12px;
  color: white;
  background: #333333;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: background 0.1s ease-in-out;
          transition: background 0.1s ease-in-out;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background: #6B6B6B;
}

input[type="search"] {
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #6B6B6B;
}

:-moz-placeholder {
  color: #6B6B6B;
}

::-moz-placeholder {
  color: #6B6B6B;
}

:-ms-input-placeholder {
  color: #6B6B6B;
}

/* ie image border fix */
a img {
  border: none;
}

#breadcrumbs {
  margin-top: 0;
  padding: 0 6.25%;
}

@media all and (min-width: 56.25em) {
  #breadcrumbs {
    padding: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #333333;
  -webkit-transition: top 0.2s ease-in-out;
          transition: top 0.2s ease-in-out;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.infinite-loader,
#infinite-handle {
  clear: both;
}

.archive-header {
  margin: 3em 0 1.5em;
  padding: 0 6.25%;
}
.archive-header h1 {
  font-size: 1em;
  line-height: 1.5;
  color: #6B6B6B;
}
.archive-header p {
  font-style: italic;
}

@media all and (min-width: 56.25em) {
  .archive-header {
    padding: 0;
    margin: 0 0 3em;
  }
}
.comment-respond {
  margin-top: 3em;
}
.comment-respond label {
  display: block;
  margin-bottom: 6px;
}

#cancel-comment-reply-link {
  margin-left: 12px;
}

.comments {
  padding: 0 6.25%;
  margin: 3em 0;
}

.comment-list {
  list-style: none;
  margin: 3em 0;
}
.comment-list ul, .comment-list ol {
  list-style: none;
}
.comment-list .children {
  margin: 0;
  padding: 0 0 0 1.5em;
  border-left: solid 1px #D8D8D8;
}

.comment-author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
  margin-right: 0.75em;
}
.comment-author span {
  line-height: 48px;
}
.comment-author a {
  font-weight: 700;
}

.bypostauthor {
  padding: 1.5em;
  outline: solid 3px #E8E8E8;
}

li.comment,
li.pingback {
  margin: 3em 0;
}

.comment-footer a {
  color: #6B6B6B;
}
.comment-footer a:link, .comment-footer a:visited {
  color: #6B6B6B;
}
.comment-footer a:link:hover, .comment-footer a:link:active, .comment-footer a:link:focus, .comment-footer a:visited:hover, .comment-footer a:visited:active, .comment-footer a:visited:focus {
  color: #333333;
  text-decoration: underline;
}

.comment-reply-link,
.comment-edit-link {
  position: relative;
  margin-left: 18px;
}
.comment-reply-link:after,
.comment-edit-link:after {
  position: absolute;
  content: '';
  top: 0;
  left: -12px;
  height: 100%;
  width: 1px;
  background: #D8D8D8;
}

.comment-pagination {
  margin: 3em 0;
}
.comment-pagination a {
  font-weight: 700;
}
.comment-pagination p {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin: 0 -4px 0 0;
}
.comment-pagination .next-comment {
  text-align: right;
}

@media all and (min-width: 37.5em) {
  .comments {
    padding: 0;
  }
}
/* Disqus */
@media all and (max-width: 600px) {
  #disqus_thread {
    padding: 0 6.25%;
  }
}
.site-footer {
  padding: 3em 6.25% 0.75em;
}
.site-footer .design-credit {
  text-align: center;
  margin-top: 3em;
}
.site-footer .design-credit a {
  font-weight: 700;
}

.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: #333333;
  border: none;
  color: #fff;
  padding: 9px 0;
  width: 4.6875%;
  min-width: 40px;
  -webkit-transition: background 0.2s, -webkit-transform 0.3s;
          transition: background 0.2s, transform 0.3s;
}
.scroll-to-top.visible {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
.scroll-to-top:hover {
  cursor: pointer;
  background: #6B6B6B;
}
.scroll-to-top:hover i {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.scroll-to-top i {
  font-size: 21px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

@media all and (min-width: 56.25em) {
  .site-footer {
    padding: 3em 0 0.75em;
    clear: both;
  }
}
/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #6B6B6B;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 0.5em 0 0;
  margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

.site-header {
  padding: 0 6.25%;
  text-align: center;
}

.toggle-navigation {
  font-size: 1em;
  display: block;
  background: none;
  margin: 2.25em auto 3em;
  padding: 0;
  border: none;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.title-container {
  margin: 3em 0;
}

.site-title {
  font-family: 'Satisfy', 'Open Sans', 'sans-serif';
  margin: 0;
}

.tagline {
  margin: 0;
}

.social-media-icons {
  list-style: none;
  margin: 2.25em 0;
}
.social-media-icons li {
  display: inline-block;
}
.social-media-icons a {
  color: #6B6B6B;
  margin: 0 8px;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.social-media-icons a:link, .social-media-icons a:visited {
  color: #6B6B6B;
}
.social-media-icons a:hover, .social-media-icons a:active, .social-media-icons a:focus {
  color: #333333;
}

@media all and (min-width: 50em) {
  .toggle-navigation {
    display: none;
  }

  .title-container {
    margin: 4.5em 0 6em;
  }

  .site-title {
    font-size: 2.3125em;
    /* 37px / 16px */
    line-height: 1.297;
    /* 48px */
  }

  .social-media-icons {
    display: inline-block;
    float: right;
    margin: 0;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }
  .social-media-icons li:last-child a {
    margin-right: 0;
  }
  .social-media-icons.fade {
    opacity: 0;
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}
@media all and (min-width: 56.25em) {
  .site-header {
    padding: 0;
  }
}
@media all and (min-width: 62.5em) {
  .site-title {
    font-size: 3.1875em;
    /* 51px / 16px */
    line-height: 1.176;
    /* 60px */
  }

  .tagline {
    margin-top: 1em;
  }
}
.pagination {
  margin: 3em 0;
  padding: 0 6.25%;
  text-align: center;
  color: #6B6B6B;
}
.pagination a,
.pagination span {
  margin: 0 0.75em;
}
.pagination a {
  color: #6B6B6B;
}
.pagination a:link, .pagination a:visited {
  color: #6B6B6B;
}
.pagination a:hover, .pagination a:active, .pagination a:focus {
  color: #333333;
  text-decoration: underline;
}
.pagination .current {
  color: #333333;
  font-weight: 700;
}

.infinite-scroll .pagination {
  display: none;
}

@media all and (min-width: 56.25em) {
  .pagination {
    text-align: left;
    padding: 0;
  }
}
@media all and (min-width: 56.25em) {
  .overflow-container {
    padding: 0 4.6875%;
  }
  .overflow-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .main {
    width: 68.9375%;
    float: left;
  }

  .page-template-full-width .main {
    width: 100%;
    float: none;
  }
}
.menu-primary-container {
  position: relative;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
          transition: max-height 0.2s ease-in-out;
}
.menu-primary-container.open {
  max-height: 999px;
}

.menu-primary {
  margin: 2.25em 0;
}
.menu-primary ul {
  list-style: none;
  margin: 0 auto;
}
.menu-primary li {
  margin-bottom: 1.5em;
}
.menu-primary li.current-menu-item {
  font-weight: 700;
}
.menu-primary li.current-menu-item a {
  color: #333333;
}
.menu-primary li.current-menu-item a:link, .menu-primary li.current-menu-item a:visited, .menu-primary li.current-menu-item a:hover, .menu-primary li.current-menu-item a:active, .menu-primary li.current-menu-item a:focus {
  color: #333333;
}
.menu-primary li.current-menu-item li {
  font-weight: 400;
}
.menu-primary a {
  color: #6B6B6B;
}
.menu-primary a:link, .menu-primary a:visited, .menu-primary a:hover, .menu-primary a:active, .menu-primary a:focus {
  color: #6B6B6B;
}

.toggle-dropdown {
  margin: 0 -16px 0 6px;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  background: none;
  border: none;
  color: #6B6B6B;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
          transition: transform 0.1s ease-in-out;
}
.toggle-dropdown:hover {
  cursor: pointer;
}
.toggle-dropdown:focus {
  outline: none;
}
.toggle-dropdown:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.menu-primary-items ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
          transition: max-height 0.2s ease-in-out;
}
.menu-primary-items ul li {
  margin: 1.5em 0;
}
.menu-primary-items ul li:last-child {
  margin-bottom: 0;
}
.menu-primary-items li.open > ul {
  max-height: 999px;
}
.menu-primary-items li.open > button {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media all and (min-width: 50em) {
  .menu-primary-container {
    max-height: none;
    text-align: right;
    margin: 2.25em 0;
    overflow: visible;
  }
  .menu-primary-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .menu-primary {
    display: inline-block;
    margin: 0;
    float: left;
    text-align: left;
  }
  .menu-primary li {
    display: inline-block;
    margin: 0 20px 0 0;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .menu-primary li.menu-item-has-children:hover {
    z-index: 25;
  }
  .menu-primary a {
    font-size: 0.75em;
    /* 12px / 16px */
    line-height: 1.5;
    /* 18px */
    display: inline-block;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .menu-primary a:hover, .menu-primary a:active, .menu-primary a:focus {
    color: #333333;
  }
  .menu-primary a:focus {
    text-decoration: underline;
  }

  .menu-primary-items ul {
    max-height: none;
    position: absolute;
    z-index: 29;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    top: 100%;
    top: calc(100% + 6px);
    left: -1.5em;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: white;
    padding: 0 1.5em 0.75em;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }
  .menu-primary-items ul:hover, .menu-primary-items ul.focused {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .menu-primary-items ul li {
    display: block;
    margin: 0.75em 0;
  }
  .menu-primary-items ul li:hover > button {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  .menu-primary-items ul .toggle-dropdown:after {
    content: '\f105';
  }
  .menu-primary-items ul a:hover + button, .menu-primary-items ul a:active + button, .menu-primary-items ul a:focus + button {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  .menu-primary-items ul a:hover ~ ul, .menu-primary-items ul a:active ~ ul, .menu-primary-items ul a:focus ~ ul {
    top: -12px;
    left: 100%;
    left: calc(100% + 2px);
  }
  .menu-primary-items ul a:hover:after, .menu-primary-items ul a:active:after {
    top: 0;
    height: 36px;
    width: 72px;
    left: 100%;
    left: calc(100% + 2px);
  }
  .menu-primary-items ul ul {
    left: 100%;
    left: calc(100% + 8px);
    top: -12px;
  }
  .menu-primary-items ul ul:hover, .menu-primary-items ul ul.focused {
    top: -12px;
    left: 100%;
    left: calc(100% + 2px);
  }
  .menu-primary-items li {
    position: relative;
    z-index: 9;
    white-space: nowrap;
  }
  .menu-primary-items li:hover > button {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .menu-primary-items li.open > ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .menu-primary-items a {
    position: relative;
    z-index: 19;
  }
  .menu-primary-items a:hover + button, .menu-primary-items a:active + button, .menu-primary-items a:focus + button {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .menu-primary-items a:hover ~ ul, .menu-primary-items a:active ~ ul, .menu-primary-items a:focus ~ ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .menu-primary-items a:hover:after, .menu-primary-items a:active:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 36px;
    width: 100%;
    left: 0;
  }

  .toggle-dropdown {
    font-size: 0.75em;
    /* 12px / 16px */
    line-height: 1.5;
    /* 18px */
    margin: 0 0 0 4px;
  }
  .toggle-dropdown:focus {
    color: orange;
  }

  .rtl .menu-primary-items ul .menu-item-has-children:hover > button {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  .rtl .menu-primary-items ul .menu-item-has-children .toggle-dropdown:after {
    content: '\f104';
  }
  .rtl .menu-primary-items ul .menu-item-has-children a:hover + button, .rtl .menu-primary-items ul .menu-item-has-children a:active + button, .rtl .menu-primary-items ul .menu-item-has-children a:focus + button {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
}
.entry {
  margin: 3em 0 4.5em;
}

.more-link-wrapper {
  display: inline-block;
  margin-top: 0.75em;
}

.more-link {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 18px;
  border: solid 1px #333333;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.more-link:hover, .more-link:active, .more-link:focus {
  background: #333333;
  color: white;
}

.comments-link {
  color: #333333;
  -webkit-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.comments-link i {
  margin-right: 3px;
}
.comments-link a:hover, .comments-link a:active, .comments-link a:focus {
  text-decoration: underline;
  color: #333333;
}

.full-post .entry .comments-link {
  display: block;
  margin: 3em 0;
}

.sticky-status {
  display: inline-block;
  background: #333333;
  color: white;
  padding: 9px 1.5em;
  margin-bottom: 2.25em;
}

.has-post-thumbnail article {
  position: relative;
}
.has-post-thumbnail .sticky-status {
  position: absolute;
  top: 0;
  left: 0;
}

#infinite-handle,
.infinite-loader {
  clear: both;
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
}
.featured-image > a:focus:after {
  opacity: 0.2;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 4px 4px 12px;
  font-size: 13px;
}

.post-container {
  padding: 0 6.25%;
}

.post-header {
  margin: 1.5em 0;
}

.post-content {
  margin: 1.5em 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.singular .post-content a {
  text-decoration: underline;
}

.post-meta {
  margin: 3em 0 1.5em;
}

.post-categories a {
  font-weight: 700;
}

.post-tags ul {
  list-style: none;
  margin: 0;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  display: inline-block;
  padding: 2px 12px;
  background: #E8E8E8;
  margin: 0 8px 12px 0;
  color: #6B6B6B;
}
.post-tags a:link, .post-tags a:visited {
  color: #6B6B6B;
}
.post-tags a:hover, .post-tags a:active, .post-tags a:focus {
  color: white;
  background: #333333;
}

.further-reading {
  margin: 2.25em 0 0;
  padding: 2.25em 0;
  border-top: solid 1px #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
}
.further-reading .previous {
  margin-bottom: 1.5em;
}
.further-reading span {
  display: block;
}
.further-reading a {
  font-weight: 700;
}
.further-reading a:hover, .further-reading a:active, .further-reading a:focus {
  color: #6B6B6B;
}

.last-updated {
  font-style: italic;
}

@media all and (min-width: 37.5em) {
  .post-container {
    padding: 0;
  }

  .entry {
    padding: 0 6.25%;
  }

  .further-reading div {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
  }
  .further-reading .previous {
    margin-bottom: 0;
  }
  .further-reading .next {
    text-align: right;
  }
}
@media all and (min-width: 50em) {
  .post-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.321;
    /* 37px */
  }
}
@media all and (min-width: 56.25em) {
  .post-container {
    padding: 0;
  }

  .entry {
    padding: 0;
  }
  .entry:first-child {
    margin-top: 0;
  }

  .post-title {
    font-size: 2.3125em;
    /* 37px / 16px */
    line-height: 1.297;
    /* 48px */
  }

  .singular .post-header,
  .error404 .post-header {
    margin: 0 0 2.25em;
  }
  .singular .featured-image,
  .singular .featured-video,
  .error404 .featured-image,
  .error404 .featured-video {
    margin-bottom: 2.25em;
  }
}
.search-form input[type="submit"] {
  min-width: 100px;
}
.search-form input[type="search"] {
  margin-bottom: 6px;
}

.site-header .search-form-container {
  position: absolute;
  top: 22px;
  right: 1.5em;
}
.site-header .search-form-container button {
  position: relative;
  z-index: 9;
  background: none;
  border: none;
  margin: 5px -10px 0 0;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 1.5;
}
.site-header .search-form-container button:hover {
  cursor: pointer;
}
.site-header .search-form-container button:focus {
  outline: none;
}
.site-header .search-form-container button:focus i {
  color: #333333;
}
.site-header .search-form-container button.open + form {
  opacity: 1;
}
.site-header .search-form-container i {
  color: #6B6B6B;
  z-index: -1;
}
.site-header .search-form-container form {
  position: absolute;
  top: 0;
  right: -12px;
  left: 0;
  padding-top: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out, left 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out, left 0.15s ease-in-out;
}
.site-header .search-form-container .search-field {
  max-width: none !important;
  outline: none !important;
  padding: 6px 12px !important;
}
.site-header .search-form-container .search-field::-webkit-search-decoration, .site-header .search-form-container .search-field::-webkit-search-cancel-button, .site-header .search-form-container .search-field::-webkit-search-results-button, .site-header .search-form-container .search-field::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.site-header .search-form-container .search-field:focus {
  background: #F2F2F2 !important;
  outline: solid 1px #D8D8D8 !important;
}

@media all and (min-width: 50em) {
  .site-header .search-form-container {
    position: relative;
    float: right;
    top: -6px;
    right: 0;
    z-index: 9;
    text-align: right;
    margin: 0 0 0 1.5em;
  }
  .site-header .search-form-container button {
    margin: 0;
    padding: 4px 10px;
  }
  .site-header .search-form-container button:hover {
    cursor: pointer;
  }
  .site-header .search-form-container button.open + form {
    left: -266px;
  }
  .site-header .search-form-container form {
    padding-top: 0;
    right: 0;
  }
}
.search .sticky-status {
  display: none;
}

.search-box {
  margin: 3em 0 1.5em;
  padding: 0 6.25%;
  clear: both;
}
.search-box h1 {
  margin-bottom: 12px;
}

@media all and (min-width: 56.25em) {
  .search-box {
    margin: 0 0 3em;
    padding: 0;
  }
  .search-box .search-form-container {
    margin-top: 1.5em;
  }
}
.sidebar-primary {
  margin: 3em 0;
  padding: 3em 6.25%;
  border-top: solid 1px #D8D8D8;
}

@media all and (min-width: 56.25em) {
  .sidebar-primary {
    border: none;
    width: 25.8515625%;
    float: left;
    padding: 0;
    margin: 0 0 0 5.1703125%;
  }
}
.widget {
  margin-bottom: 2.25em;
}
.widget .widget-title {
  margin-bottom: 2em;
}
.widget ul {
  list-style: none;
  margin: 1.5em 0;
}
.widget ul ul {
  margin: 1em 1.5em;
}
.widget li {
  margin-bottom: 1em;
}
.widget a:hover, .widget a:active, .widget a:focus {
  text-decoration: underline;
}
.widget .post-date {
  display: block;
}

.widget_calendar caption {
  margin-bottom: 12px;
}
.widget_calendar tbody a {
  background: #E8E8E8;
  margin: -9px;
  padding: 6px 10px 7px;
}
.widget_calendar tbody a:hover, .widget_calendar tbody a:active, .widget_calendar tbody a:focus {
  background: #D8D8D8;
  text-decoration: none;
}
.widget_calendar #today {
  background: #333333;
  color: white;
}
.widget_calendar #prev,
.widget_calendar #next {
  text-align: center;
  padding: 0;
}
.widget_calendar #prev a,
.widget_calendar #next a {
  display: inline-block;
  background: #E8E8E8;
  color: #333333;
  padding: 0.75em 3em;
}
.widget_calendar #prev a:hover, .widget_calendar #prev a:active, .widget_calendar #prev a:focus,
.widget_calendar #next a:hover,
.widget_calendar #next a:active,
.widget_calendar #next a:focus {
  background: #D8D8D8;
  text-decoration: none;
}

.widget_recent_comments a {
  text-decoration: underline;
}

.widget_rss .widget-title a {
  border-color: transparent;
}
.widget_rss .widget-title img {
  margin-right: 4px;
}
.widget_rss .rssSummary {
  margin: 0.75em 1.5em;
}
.widget_rss .rssSummary + cite {
  display: block;
  margin: 0 0 1.5em 1.5em;
}
.widget_rss .rss-date {
  font-style: italic;
}
.widget_rss li {
  display: block;
}
.widget_rss cite,
.widget_rss span {
  margin-bottom: 1.5em;
  display: block;
}
.widget_rss span + cite {
  margin-top: -1.5em;
}

.widget_nav_menu ul ul ul ul {
  margin-left: 0;
}

@media all and (min-width: 56.25em) {
  .widget {
    margin-bottom: 3em;
  }
}
.singular-attachment .attachment-container img {
  display: block;
}

.woocommerce .product .quantity .qty {
  width: 50px !important;
  font-size: 16px !important;
  padding: 11px 6px 11px 12px !important;
}
.woocommerce .product .single_add_to_cart_button {
  line-height: 1.5;
  padding: 12px 24px;
}
.woocommerce .product_meta a {
  text-decoration: underline;
}
.woocommerce .woocommerce-review-link {
  text-decoration: underline;
}
.woocommerce .woocommerce-Reviews-title,
.woocommerce .related h2,
.woocommerce .upsells h2 {
  margin-bottom: 24px;
}
.woocommerce .comment-reply-title {
  display: block;
  margin-bottom: 12px;
  color: #333333;
  font-weight: 700;
}

.woocommerce-cart th, .woocommerce-cart td,
.woocommerce-checkout th,
.woocommerce-checkout td,
.woocommerce-page th,
.woocommerce-page td {
  border: none;
}
.woocommerce-cart h2,
.woocommerce-cart h3,
.woocommerce-checkout h2,
.woocommerce-checkout h3,
.woocommerce-page h2,
.woocommerce-page h3 {
  margin-bottom: 24px;
}

.woocommerce-cart .quantity input {
  width: 50px !important;
  font-size: 14px !important;
  padding: 8px 4px !important;
}
.woocommerce-cart .coupon input {
  max-width: none !important;
  width: 49% !important;
  padding: 10px 12px;
}
.woocommerce-cart .coupon input[type="text"] {
  font-size: 14px !important;
  padding: 7px 12px 8px !important;
}
.woocommerce-cart table.shop_table td.product-name {
  padding: 24px 12px;
}
.woocommerce-cart table.shop_table .actions {
  padding: 12px;
}
.woocommerce-cart .post-content a.remove {
  text-decoration: none;
}
.woocommerce-cart .post-content .checkout-button {
  text-decoration: none;
}

.woocommerce-checkout input {
  max-width: none;
}
.woocommerce-checkout .required {
  text-decoration: none;
}
.woocommerce-checkout #customer_details {
  margin-bottom: 24px;
}

.woocommerce-account .woocommerce {
  position: relative;
  border: solid 1px #F2F2F2;
  border-radius: 6px;
  min-height: 260px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  background: #F2F2F2;
  padding: 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
  margin-bottom: 12px;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  text-decoration: none;
  font-weight: 800;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a:hover, .woocommerce-account .woocommerce-MyAccount-navigation li a:active, .woocommerce-account .woocommerce-MyAccount-navigation li a:focus {
  text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-content {
  padding: 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-content > p:first-child {
  margin-top: 0;
}
.woocommerce-account .woocommerce-MyAccount-content fieldset {
  margin: 1.5em 0;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-address-fields .button {
  margin-top: 18px;
}
.woocommerce-account .woocommerce-MyAccount-content .button {
  text-decoration: none;
}
.woocommerce-account .woocommerce-message {
  z-index: 9;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  top: -26px;
}
.woocommerce-account .col-2.woocommerce-Address {
  margin-top: 1.5em;
}

.woocommerce form .form-row .required {
  text-decoration: none;
}

@media all and (min-width: 769px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .woocommerce-account .col-2.woocommerce-Address {
    margin-top: 0;
  }
}
/*

ATTENTION:

Please do not edit this. Your changes will be overwritten when you update Apex.

If you want to make CSS edits, use the "Custom CSS" section in the Customizer instead (Appearance > Customize).

If you want more information about customizing Apex with CSS, check out this guide: https://www.competethemes.com/help/custom-css-apex/

*/
