/*
 Theme Name:   Morning
 Template:     apex
 Theme URI:    https://www.competethemes.com/morning/
 Author: 	     Compete Themes
 Author URI:   https://www.competethemes.com
 Version: 	   1.04
 Description:  Morning is a child theme for the Apex theme. It's is a sophisticated, minimalist theme. It looks great and performs wonderfully on mobile devices, tablets, laptops, and everything in between. Use it to setup a business blog, newspaper website, fashion magazine, or travel blog. Now with WooCommerce support, you can even setup an eCommerce store with Apex. The design of this minimal theme also suits media-rich sites well like food blogs and personal photography portfolios. As a simple, responsive, and SEO optimized theme, you can trust Apex to present your best content to the world. Apex is also fully compatible with the new Gutenberg post editor. Preview Morning now with the interactive live demo: https://www.competethemes.com/demos/?theme=morning
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         two-columns, right-sidebar, accessibility-ready, custom-logo, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, education, news

Morning WordPress Theme, Copyright 2019 Compete Themes
Morning is distributed under the terms of the GNU GPL

Morning is a child theme of Apex.

It's not recommended to add CSS to this file, as it will be lost if you ever update this child theme.
 Instead, use the Custom CSS section in the Customizer.
*/

/* =Theme customization starts here
-------------------------------------------------------------- */
.post-categories {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.post-date, .post-categories, .further-reading span, .site-title, .menu-primary, .site-footer, .more-link, .comments-link, .sticky-status, .comment-footer, .widget-title {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.overflow-container {
  background: white;
}

@media all and (min-width: 56.25em) {
  body {
    background: #f2f2f2;
  }

  .overflow-container {
    padding: 0 3.125%;
    margin: 0 3.125%;
    border-right: solid 1px #ededed;
    border-left: solid 1px #ededed;
  }
}
@media all and (min-width: 68.75em) {
  .overflow-container {
    padding: 0 4.6875%;
    margin: 0 4.6875%;
  }
}
.entry {
  margin: 3em 0;
}

.post-categories {
  margin-right: 2.25em;
}

.post-categories,
.post-tags {
  display: inline-block;
  margin-bottom: 1.5em;
}

.further-reading {
  margin-top: 0;
}

.site-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.tagline {
  margin-top: 0.5em;
}

.menu-primary {
  font-family: "Montserrat", sans-serif;
}

.more-link {
  padding: 0;
  border: none;
}
.more-link:hover, .more-link:active, .more-link:focus {
  background: none;
  color: #6b6b6b;
  text-decoration: underline;
}
.more-link:hover:before, .more-link:active:before, .more-link:focus:before {
  color: #333333;
  text-decoration: none;
}
.more-link:before {
  content: '\f02d';
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 6px;
  transition: all 0.1s ease-in-out;
}

.blog .post-content,
.archive .post-content,
.search .post-content {
  border-bottom: solid 1px #e8e8e8;
}
.blog .post-content p:nth-last-child(3),
.archive .post-content p:nth-last-child(3),
.search .post-content p:nth-last-child(3) {
  padding-bottom: 0.75em;
}
.blog .post-content p:last-of-type,
.archive .post-content p:last-of-type,
.search .post-content p:last-of-type {
  margin-top: 0;
  padding-bottom: 1.5em;
}

.loop-pagination {
  position: relative;
  margin: 1.5em 0;
  text-align: center;
}
.loop-pagination .next,
.loop-pagination .prev {
  position: absolute;
  font-weight: 700;
  color: #333333;
}
.loop-pagination .next:link, .loop-pagination .next:visited,
.loop-pagination .prev:link,
.loop-pagination .prev:visited {
  color: #333333;
}
.loop-pagination .next {
  right: 4.6875%;
  margin-right: 0;
}
.loop-pagination .prev {
  left: 4.6875%;
  margin-left: 0;
}

@media all and (min-width: 56.25em) {
  .loop-pagination .next {
    right: 0;
  }
  .loop-pagination .prev {
    left: 0;
  }
}
